In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt
import numpy as np

In [2]:
from propensity_prediction.model.analytics.purchase_processing import PurchaseFeatures
from propensity_prediction.tasks.LTV_prediction.context import LTVPrediction_Context

from propensity_prediction.model.analytics.purchase_processing import cal_LTV, PurchaseFeatures_ByAge

In [3]:
df = pd.read_excel("http://archive.ics.uci.edu/ml/machine-learning-databases/00352/Online%20Retail.xlsx", dtype = "str")
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom

In [4]:
# context = PurchaseFeatures()
# df_preprocessed = context.preprocess(df) 
# df_preprocessed.head()

In [5]:
# general_profile = context.create_profile(df_preprocessed)
# general_profile.head()

In [6]:
# from propensity_prediction.model.analytics.purchase_processing import cal_LTV
# tracking_data = LTV_context.feature_generator.create_tracking_bytarget(df_preprocessed, cal_LTV, 'LTV')
# tracking_data.head()

In [7]:
LTV_context = LTVPrediction_Context()
df_preprocessed = LTV_context.feature_generator.preprocess(df)
df_preprocessed.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPurchase,Recency,InvoiceDate_Range
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30,373,0
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,373,0
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00,373,0
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,373,0
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,373,0

In [8]:
tracking_data = LTV_context.feature_generator.create_tracking_bytarget(df_preprocessed, cal_LTV, 'LTV')
profile_features = LTV_context.feature_generator.create_profile_byage(df_preprocessed, tracking_data)

/src/exp/ds/propensity_prediction/model/analytics/purchase_processing.py:158: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  date_df[self.InvoiceDate_Range] = extract_daterange(date_df[self.invoice_date])

In [9]:
training_data = LTV_context.prepare_data(df)

In [10]:
tracking_data[tracking_data.CustomerID == '13089'].reset_index().iloc[:, 1:]

,InvoiceDate_Range,CustomerID,Customer_Age,Customer_NextAge,LTV,Next_LTV
0,0,13089,0.0,1.0,5953.21,4938.83
1,1,13089,1.0,2.0,4938.83,4665.58
2,2,13089,2.0,3.0,4665.58,2786.65
3,3,13089,3.0,4.0,2786.65,5065.12
4,4,13089,4.0,5.0,5065.12,4466.80
5,5,13089,5.0,6.0,4466.80,3747.98
6,6,13089,6.0,7.0,3747.98,3470.38
7,7,13089,7.0,8.0,3470.38,3170.16
8,8,13089,8.0,9.0,3170.16,7320.70
9,9,13089,9.0,10.0,7320.70,2869.68
10,10,13089,10.0,11.0,2869.68,4919.47
11,11,13089,11.0,12.0,4919.47,5387.52

In [11]:
profile_features[profile_features.CustomerID == '13089'].reset_index().iloc[:, 1:]

,CustomerID,Customer_Age,MaxOrder,AvgProductPerInvoice,TotalPurchase,MinOrder,LastPurchase,OrderMomentum,AvgQuantityPerInvoice,AvgPurchasePerInvoice,AvgTimeBetweenOrder,NumInvoice
0,13089,0.0,525.60,10914,5953.21,10.20,28.0,0.235294,163094,292891.020,4.000000,1
1,13089,1.0,419.40,8178,4938.83,4.56,14.0,0.210464,129850,220763.830,4.535714,1
2,13089,2.0,788.40,8955,4665.58,5.04,19.0,0.180575,158293,257795.700,5.028571,1
3,13089,3.0,122.40,10366,2786.65,5.04,20.0,0.133136,171482,294670.330,7.500000,1
4,13089,4.0,262.80,11348,5065.12,8.50,16.0,0.295652,160414,259249.621,3.238095,1
5,13089,5.0,394.20,12976,4466.80,5.04,19.0,0.248798,196018,364602.770,3.942857,1
6,13089,6.0,106.20,12109,3747.98,5.04,19.0,0.144000,202136,340416.060,6.300000,1
7,13089,7.0,162.24,12712,3470.38,5.04,20.0,0.187380,204365,333812.760,4.900000,1
8,13089,8.0,232.00,13857,3170.16,5.04,22.0,0.128096,269140,448391.080,7.500000,1
9,13089,9.0,177.60,16238,7320.70,5.04,14.0,0.103844,254336,477144.580,7.700000,1
10,13089,10.0,207.36,26972,2869.68,5.04,20.0,0.184922,372447,675489.880,5.200000,1
11,13089,11.0,208.80,27496,4919.47,5.04,16.0,0.217857,333279,593742.980,4.357143,1

In [12]:
training_data[training_data.CustomerID == '13089'].reset_index().iloc[:, 1:]

,InvoiceDate_Range,CustomerID,Customer_Age,Customer_NextAge,LTV,Next_LTV,MaxOrder,AvgProductPerInvoice,TotalPurchase,MinOrder,LastPurchase,OrderMomentum,AvgQuantityPerInvoice,AvgPurchasePerInvoice,AvgTimeBetweenOrder,NumInvoice,key
0,0,13089,0.0,1.0,5953.21,4938.83,525.60,10914,5953.21,10.20,28.0,0.235294,163094,292891.020,4.000000,1,13089_0
1,1,13089,1.0,2.0,4938.83,4665.58,419.40,8178,4938.83,4.56,14.0,0.210464,129850,220763.830,4.535714,1,13089_1
2,2,13089,2.0,3.0,4665.58,2786.65,788.40,8955,4665.58,5.04,19.0,0.180575,158293,257795.700,5.028571,1,13089_2
3,3,13089,3.0,4.0,2786.65,5065.12,122.40,10366,2786.65,5.04,20.0,0.133136,171482,294670.330,7.500000,1,13089_3
4,4,13089,4.0,5.0,5065.12,4466.80,262.80,11348,5065.12,8.50,16.0,0.295652,160414,259249.621,3.238095,1,13089_4
5,5,13089,5.0,6.0,4466.80,3747.98,394.20,12976,4466.80,5.04,19.0,0.248798,196018,364602.770,3.942857,1,13089_5
6,6,13089,6.0,7.0,3747.98,3470.38,106.20,12109,3747.98,5.04,19.0,0.144000,202136,340416.060,6.300000,1,13089_6
7,7,13089,7.0,8.0,3470.38,3170.16,162.24,12712,3470.38,5.04,20.0,0.187380,204365,333812.760,4.900000,1,13089_7
8,8,13089,8.0,9.0,3170.16,7320.70,232.00,13857,3170.16,5.04,22.0,0.128096,269140,448391.080,7.500000,1,13089_8
9,9,13089,9.0,10.0,7320.70,2869.68,177.60,16238,7320.70,5.04,14.0,0.103844,254336,477144.580,7.700000,1,13089_9
10,10,13089,10.0,11.0,2869.68,4919.47,207.36,26972,2869.68,5.04,20.0,0.184922,372447,675489.880,5.200000,1,13089_10
11,11,13089,11.0,12.0,4919.47,5387.52,208.80,27496,4919.47,5.04,16.0,0.217857,333279,593742.980,4.357143,1,13089_11

In [13]:
LTV_context.get_feature_names()

['Customer_Age',
 'InvoiceDate_Range',
 'TotalPurchase',
 'NumInvoice',
 'LastPurchase',
 'MinOrder',
 'MaxOrder',
 'OrderMomentum',
 'AvgTimeBetweenOrder',
 'AvgPurchasePerInvoice',
 'AvgQuantityPerInvoice',
 'AvgProductPerInvoice']

In [14]:
# global_config = {\
# "task":"LTV_prediction", 
# "data_config":{
# 	"path": "http://archive.ics.uci.edu/ml/machine-learning-databases/00352/Online%20Retail.xlsx", 
# 	"cus_id": "CustomerID",
# 	product_id = 'StockCode'
# 	"invoice_date": "InvoiceDate",
# 	"invoice_no": "InvoiceNo",
# 	"num_units": "Quantity",
# 	"unit_price": "UnitPrice",
# 	"months_train": 6,
# 	"feature_types": []     
# }}